body#inicio {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-image: url(pngtree-boho-style-3d-render-of-a-cozy-scandinavian-design-room-adorned-image_13546400.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1#tituloinicio{
  text-align: center;
  color: burlywood;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 120px;
}

h1#decargarpdf{
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

body#muebles{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fdfbea;
}

body#iluminacion{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fdfbea;
}

body#decoracion {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fdfbea;
}

h1#muebles {
  text-align: center;
  color: darkred;
  font-family: Arial, Helvetica, sans-serif;
}

h1#iluminacion {
  text-align: center;
  color: chocolate;
  font-family: Arial, Helvetica, sans-serif;
}

h1#decoracion {
  text-align: center;
  color: rgb(153, 73, 24);
  font-family: Arial, Helvetica, sans-serif;
}

div#fotosmuebles{
  display: flex;
  flex-direction: row;
}

div#fotosmuebles2{
  display: flex;
  flex-direction: row;
}

div#fotoslamparas{
  display: flex;
  flex-direction: row;
}

div#fotoslamparas2{
  display: flex;
  flex-direction: row;
}

div#fotosdecoracion{
  display: flex;
  flex-direction: row;
}

div#fotosdecoracion2{
  display: flex;
  flex-direction: row;
}

div#textofotosmuebles1{
  display: flex;
  flex-direction: row;
  text-align: center;
}

div#textofotosmuebles2{
  display: flex;
  flex-direction: row;
  text-align: center;
}

div#textofotoslamparas1{
  display: flex;
  flex-direction: row;
  text-align: center;
}

div#textofotoslamparas2{
  display: flex;
  flex-direction: row;
  text-align: center;
}

div#textofotosdecoracion1{
  display: flex;
  flex-direction: row;
  text-align: center;
}

div#textofotosdecoracion2{
  display: flex;
  flex-direction: row;
  text-align: center;
}

main {
  flex: 1; /* Empuja el footer al fondo */
  width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto;
}

footer {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
  background-color: burlywood;
  color: white;
}

header{
  background-color: bisque;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

nav{
  display: flex;
  justify-content: space-evenly;
  grid-column: 1/4;
  grid-row: 2/3;
}


section{
  text-align: center;
  width: 960px;
  margin: 0 auto;
  display: grid;
}

footer{
  grid-column: 1/4;
  text-align: center;
}

p{
  background-color: burlywood;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 20px;
  transition: 1s;
}

p:hover{
background-color: chocolate;
}

p:active{
  background-color: rgb(161, 87, 44);
}
a{
  color: inherit;
  text-decoration: none;
}